<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/leftbar.css">

</head>
<body>
    <div id="container">
        <div class="leftbar">
            <div class="top_logo">
                <a href="#LOGO">LOGO</a>
            </div>
            <div class="menu_top">
                <a href="#MYPAGE">MYPAGE</a>
                <a href="cart">CART</a>
                <a href="login">LOGIN</a>
                <a href="#JOIN US">JOIN US </a>
            </div>
            <div class="menu_bottom">
                <a href="#ORDER">ORDER </a>
                <a href="#WISH">WISH </a>
                <a href="notice">NOTICE </a>
                <a href="Q&A">Q&A</a>
            </div>
            <div class="search-container">
                <input type="text" name="leftbarsearch">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="main_menu">
                <ul>
                    <li><a href="#NEW">NEW</a></li>
                    <li><a href="#OUTER">OUTER</a></li>
                    <li><a href="#TOP">TOP</a></li>
                    <li><a href="#PANTS">PANTS</a></li>
                    <li><a href="#SHIRTS">SHIRTS</a></li>
                    <li><a href="#BAG & SHOES">BAG & SHOES</a></li>
                    <li><a href="#ACC">ACC</a></li>
                </ul>
            </div>
            <div class="leftbar_info">
                <ul class="leftbar_info_top">
                    <li>T.051-0000-0000</li>
                    <ol>MONDAY TO FRIDAY AM. 11:00 - PM 05:00</a></ol>
                    <ol>SAT.SUN.HOLIDAY OFF</a></ol>
                </ul>
                <ul class="leftbar_info_bottom">
                    <li>BANK INFO</li>
                    <ol>은행 123456-12-12345</ol>
                    <ol>주식회사 LOGO</ol>
                </ul>
            </div>
        </div>
    <div id="main-login">
        <h1>MEMBER LOGIN</h1>
        <div id="login-title">
        </div>
        <form id="member_form" mrthod="post">
            <div class="login">
                <br>
                <h2>회원 로그인</h2>
                <br>
                <fieldset>
                <label class="id_ePlaceholder" title="아이디">
                <input id="member_id" name="member_id" placeholder="아이디" value type="text"></label>
                <label class="pw_ePlaceholder" title="비밀번호">
                <input id="member_pw" name="member_pw" placeholder="비밀번호" value type="password"></label>
                <button type="submit" class="login_button" onclick="MemberAction.login"><font color="white" size="5em">LOGIN</font></button>
                <br>
                
                <input id="member_check_save_id" name="check_save_id" type="checkbox">
                <label for="member_check_save_id">아이디 저장</label><br><br>
                <ul>
                    <li>
                        <a href="" class="find_id_pw">아이디 찾기</a></li>
                    <li>
                        <a href="" class="find_id_pw">비밀번호 찾기</a></li>
                </ul>
                <ul class="sns">
                    <li class>
                        <a href="" onclick="MemberAction.snslogin(naver)">
                        <img src="https://img.echosting.cafe24.com/design/module/member/login/3374/btn_naver_login.gif" id="naver_login" alt="네이버 로그인">
                        </a>
                    </li>
                    <li>
                        <a href="" onclick="MemberAction.snslogin(facebook)">
                        <img src="https://img.echosting.cafe24.com/design/module/member/login/3374/btn_facebook_login.gif" id="fb_login" alt="페이스북 로그인">
                        </a>
                    </li>
                    <li>
                        <a href="" onclick="MemberAction.snslogin(kakao)">
                        <img src="https://img.echosting.cafe24.com/design/module/member/login/3374/btn_kakao_login.gif" id="kakao_login" alt="카카오 로그인">
                        </a>
                    </li>
                </ul>
                <hr class="hr1">
                <h2>J O I N</h2>
                <h3>아직도 회원이 아니세요?</h3>
                <p class="sign_in_text">
                    회원가입을 하시면 다양하고 특별한 혜택이 기다리고 있습니다.
                </p>
                <button type="button" href="" class="sign_button">회원가입</button>
            </fieldset>
            </div>
        </form>
        
    </div>
    </div>
    
</body>
</html>