* {
    box-sizing: border-box;

    font-size: 11px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background: none;

    cursor: pointer;
}

.btn {
    border: 1px solid black;
    padding: 10px;
}

input, textarea, select {
    border: 1px solid rgb(198, 198, 198);
    outline: none;
    padding: 10px;

    width: 100%;
}

input:focus, textarea:focus, select:focus {
    border: 1px solid black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main {
    margin-top: 60px;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(198, 198, 198);
}

th, td {
    border: 1px solid rgb(198, 198, 198);

    height: 30px;

    text-align: center;
}

.admin-menus {
    margin-bottom: 20px;
    padding: 0px 10px;
    width: 264px;
    height: 600px;
}

.admin-menus li {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(127,127,127);
    padding-bottom: 10px;
}