.cart-topbox{
    margin: 20px 0;
}

.information{
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 15px 0 15px;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;

}

.cart-tbt{
    margin: 0;
    padding-left: 45px;
}

.cart-product{
    font-size: 15px;
    padding: 10px;
    border-right: #e8e8e8;
}

.cart-option{
    color: #5c5c5c;
    font-size: 13px;
}

.cart-input{
    width: 50%;
    text-align: center;
}


.cart-tbbox{
    margin-top: 30px;
    text-align: left;
    padding: 5px 5px 5px;
    background-color: #dddd;

    font-size:18px;
}




.cart-mileage{

    margin: 10px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid #e8e8e8;
    margin-left: 40px;
}

.cart-displaynone{
    float: left;
    margin: 0 40px 0 0;
}


                                        <!--장바구니body-->


.wrap{

    position: relative;
    width: 100%;
    margin-left: 330px;
    box-sizing: border-box;
    padding-left: 330px;
    padding-right: 30px;
    text-align: center;

}

.wrap li{
    list-style: none;
}

.contents {
    padding-left: 330px;
    padding-right: 30px;
    float: left;
    
    padding-top: 30px;
    
}

.titleArea{
    margin: 20px 0 40px;
    text-align: center;

}

.cart-table{
    width: 100%;
    border: 1px solid #ebebeb;
}


.cart-listbox{
    padding: 15px 0 14px;
    border-bottom: 1px solid #ebebeb;
   
    color: #353535;
    vertical-align: middle;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.cart-chbox {
    border: 1px solid #ebebeb;
}

.cart-price{
    border: 1px solid #ebebeb;
}

.cart-number{
    border: 1px solid #ebebeb;
    width: 100px;
}

.cart-save{
    border: 1px solid #ebebeb;
}

.cart-bs{
    border: 1px solid #ebebeb;
}

.cart-Psum{
    border: 1px solid #ebebeb;
}


.cart-imgBox{
    width: 120px;
    border: 1px solid #ebebeb;
}


.cart-img{
    width: 80%;     
}

.selected{
    margin: 10xp 20px;
    list-style: none;
    
}

table{

    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    border-collapse : collapse;
    text-align: center;
    
}

.cart-Dbutton{
    height: 40px;
    width: 70%;
    background-color: #5c5c5c;
    color: white;
    border-radius: 4px;
}




.cart-tbox{
    text-align: center;
    padding: 15px 10px 17px;
    background-color: #dddd;

    font-size:18px;
    margin-bottom: 40px;

}







.cart-ordercheck{
       background-color: white;
       box-sizing: border-box;
}



.cart-orderBox{

    width: 99.5%;
    padding: 15px;
 
    margin-bottom: 20px;
    
    
}



.cart-orderF{
    font-size: 20px;
    padding: 15px 0 14px;
    
}


.cart-orderP{
    padding: 10px;
    font-size: 30px;
}














.cart-orderBt{
    text-align: center;

    margin: 10px 0 40px;
    padding: 20px 0 10px;
    font-size: 13px;

}

.cart-orderBt button{
    

}

.cart-allOrder{
    
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 20px 30px;
}


.cart-checkOrder{
    background-color: #5a5a5a;
    color: #fff;
    border: 1px solid #5a5a5a;
    border-radius: 6px;
    padding: 20px 30px;
}


.cart-backShop{
    float: right;
    background-color: #fff;
    font-size: 13px;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 20px 30px;

}














.inner-box{

}

.inner-h3{
    padding: 10px 10px;
    background-color: #dddd;
    font-size: 23px;
}

.inner-h4{
    padding-left: 15px;
    font-size: 18px;
}


.inner-item-text{
    font-size: 15px;
}





