.inner{
    display: flex;
    justify-content: center;
    flex-direction: column;

    border-top: 1px solid gray; 

    align-items: center;
    margin-left: 40px;
    padding-bottom: 100px;  
}

.binner > a{
    font-size: 13px;
    color: gray;
    padding: 10px 50px;
    text-decoration: none;
}

.binner_address, .binner_copyright,.binner  {
    display: flex;
    text-decoration: none;
}

.binner {
    margin: 15px;
}

.binner_address > a{
    font-size: 13px;
    color: gray;
    padding: 5px 20px;
    text-decoration: none;
}


.binner_copyright > a{
    font-size: 11px;
    color: gray;
    padding: 5px 20px;
    text-decoration: none;
}
