  *{
    outline-width: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
  
  html, body{
    margin: 0; 
    height: 100%;
  }
  
   ul, ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
   a{
    text-decoration: none;
    color: black;
  }
  
  #container{
    display: flex;
  }
  
  .main-container {
    margin-left: 310px;
    max-width: 1580px;
    width: 100%;
  
    background-color: white;  
  }
  
  .leftbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      
      width: 310px;
      height: 100%;
  
      background-color: #eee;
  }
  
  .top_logo{
    padding: 30px;
    font-size: 25px;
  }
  
  .menu_top{
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    margin-bottom: 15px;
  
    font-size: 14px;
    text-align: center;
  
    cursor: pointer;
  }
  
  .menu_top > a, .menu_bottom > a{
    padding: 5px 5px;
  }
  
  .search-container{
    margin: 10px;
  }
  
  .search-container button{
    padding: 10px;
    width: 20%;
    font-size: 15px;
  
    border: none;
    border-left: none;
    background: white;
    float: left;
    cursor: pointer;
  
    outline-width: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .search-container input[type=text] {
    padding: 10px;
    width: 80%;
    font-size: 15px;
    
    border: none;
    background: white;
    float: left;
  
    outline-width: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .main_menu li{
    padding: 7px;
  
    text-align: center;
  
    font-weight: 500;
    font-size: 20px;
  
    cursor: pointer;
  }
  
  .leftbar_info{
    margin-top: 30px;
    margin-right: 40px;
  }
  
  .leftbar_info_bottom{
    margin-top: 20px;
  }
  
  .leftbar_info li{
    color: black;
    font-size: 15px;
  }
  
  .leftbar_info ol{
    color: gray;
    font-size: 10px;
  }
  
  .leftbar li a {
    padding: 10px;
    display: block;
  }
  
  .leftbar li a:hover {
    background: #333;
    color: #fff;
  }
  
  .menu_top a:hover, .menu_bottom a:hover {
    background: #333;
    color: #fff;
  }