
  html, body{
    margin: 0; 
    height: 100%;
  }
  

main{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    justify-content: center;
}



/* header 영역 */

.main-board {
    margin: 30px;
}

.path {
    overflow: hidden;
    height: 30px;
    line-height: 10px;

    font-weight: bold;
}

.path ol {
    float: right;  
}

.path li {
    list-style: none;
    color: #757575;
}

.path li, strong {
    float: left;

    padding: 0 0 0 12px;
    margin: 0 0 0 8px;

    font-size: 12px;
}

.path strong {
    margin-right: 30px;
}

.path li:first-child {
    background-color: none;
}

.title {
    text-align: center;
}

.title h2 {
    display: block;

    padding: 0px;
    color: #5a5a5a;

    font-size: 15px;
}

.title p {
    display: block;

    margin: 10px 0 0 6px;
    padding: 0px;

    font-size: 12px;
    color: #939399;
}

/* main 영역 */
table {
    border-collapse: collapse;
}

.notice a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.notice {
    width: 90%;
}

.board_list {
    margin-top: 30px;
    width: 100%;
}

.board_list tr {
    border-top: 1px solid rgb(228, 225, 225);
    border-bottom: 1px solid rgb(228, 225, 225);
}

.board_list th {
    padding: 15px 0 14px;

    font-size: 11px;
}

.board_list td {
    padding: 15px 0 14px;

    text-align: center;
    font-size: 11px;
}

.board_list tbody tr:nth-child(1){
    background-color: #fafafa;
}

.board_list tbody tr td:nth-child(2) {
    padding: 15px 0 14px 10px;

    text-align: left;
}

.txtEm {
    color: #9d9d9d;
    font-size: 10px;
}

.message {
    padding: 50px 0;

    text-align: center;
    border-bottom: 1px solid rgb(228, 225, 225);
    font-size: 11px;
}

.board-search {
    padding: 10px 0;

    font-size: 12px;
    color: #939399;
}

.board-search p::before {
    content: "검색어";

    margin-right: 22px;
}

.board-search select, .board-search input {
    height: 24px;
    border: 1px solid rgb(228, 225, 225);
}

.board-search span a.gray {
    color: white;
    font-size: 11px;

    background-color: #5a5a5a;
    
    margin: 1px 0;
    padding: 5px 6px;

    border-radius: 4px;
}

.img {
    float: right;
    cursor: pointer;
}

.button-board{
    color:white;
    font-size: 11px;
    border-radius: 4px;
    outline:0;
    border: 0;
    cursor: pointer;
    background-color: #5a5a5a;
    width: 60px;
    height: 30px;
}