<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>릴스 숏야상 (4color)</title>
    <link rel="stylesheet" href="/static/css/leftbar.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/rproduct.css">
</head>
<body>
    <main>
        <div class="main-container">
            <div class="leftbar">
                <div class="menu_top">
                    <a href="#MYPAGE">MYPAGE</a>
                    <a href="cart">CART</a>
                    <a href="login">LOGIN</a>
                    <a href="#JOIN US">JOIN US </a>
                </div>
                <div class="menu_bottom">
                    <a href="#ORDER">ORDER </a>
                    <a href="#WISH">WISH </a>
                    <a href="notice">NOTICE </a>
                    <a href="Q&A">Q&A</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>