<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/leftbar.css">
    <link rel="stylesheet" href="/static/css/rproduct.css">
    <link rel="stylesheet" href="/static/css/inner.css">
</head>
<body>
    <div id="container">
        <div class="leftbar">
            <div class="top_logo">
                <a>LOGO</a> 
            </div>
            <div class="menu_top">
                <a href="/login" class="login">LOGIN</a>
                <a href="/register" class="register">JOIN US</a>
                <a href="/notice" class="leftbar-notice">NOTICE</a>
                <a href="/boardlist" class="boardlist">Q&A</a>
            </div>
            <div class="search-container">
                <input type="text" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="main_menu">
                <ul>
                    <li><a href="/all" class="all">ALL</a></li>
                    <li><a href="/outer" class="outer">OUTER</a></li>
                    <li><a href="/top" class="top">TOP</a></li>
                    <li><a href="/pants" class="pants">PANTS</a></li>
                    <li><a href="/shirts" class="shirts">SHIRTS</a></li>
                    <li><a href="/bag&shoes" class="bag&shoes">BAG & SHOES</a></li>
                    <li><a href="/acc" class="acc">ACC</a></li>     
                </ul>
            </div>
            <div class="leftbar_info">
                <ul class="leftbar_info_top">
                    <li>T.051-0000-0000</li>
                    <ol>MONDAY TO FRIDAY AM. 11:00 - PM 05:00</a></ol>
                    <ol>SAT.SUN.HOLIDAY OFF</a></ol>
                </ul>
                <ul class="leftbar_info_bottom">
                    <li>BANK INFO</li>
                    <ol>은행 123456-12-12345</ol>
                    <ol>주식회사 LOGO</ol>
                </ul>
            </div>
        </div>  
        <div class="main-container">
            <div class="main">    
                <div class="product_container">
                    <div class="product-images">
                    </div>
                    <div class="product_view">
                        <h1 class="product-title"></h1>
                        <div class="product-price"></div>
                        <div class="product-info">
                            <pre class="info simple-info"></pre>
                            <pre class="info detail-info"></pre>
                            <pre class="info option-info"></pre>
                            <pre class="info management-info"></pre>
                            <pre class="info shipping-info"></pre>
                        </div>
                        <div class="product-form">
                            <select class="product-colors" required>
                            </select>
                            <form action="/checkout" method="get">
                                <select class="product-sizes" name="pdtDtlId" required>
                                </select>
                                <div class="btns">
                                    <button type="submit" class="btn1">구매하기</button>
                                    <button type="button" class="btn2">장바구니</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="delivery">
                    <!-- <div class="bmenu">
                        <a href="#a" class="bmenu1">DETAIL</a>
                        <a href="#a" class="bmenu2">REVIEW</a>
                        <a href="#a" class="bmenu3">Q&A</a>
                        <a href="#a" class="bmenu4">배송/교환/반품</a>
                    </div> -->
                    <ul>
                        <li>- DELIVERY</li>
                            <ol>배송 방법 : 우체국택배 (1588-1300)</ol>
                            <ol>배송 지역 : 전국지역</ol>
                            <ol>배송 비용 : 2500원 / 7만원이상 무료배송</ol>
                            <ol>배송 기간 : 1~3일</ol>
                            <ol>배송 시스템 : PM 20:00 주문완료 기준 평균 익일배송 / 3일이상 지연시 개별연락 및 부분출고</ol>
                            <ol>당일배송 : 재고가 있는 품목에 한하여 PM 14:00 이전 입금완료시 당일배송 가능</ol>
                            <ol>품절상품안내 : 주문제품 거래처품절시 환불 혹은 타제품교환 가능, 환불진행시 7만원 미만일 경우 편도 배송료 2500원 발생</ol>
                    </ul>
                    <ul>
                        <li>- EXCHANGE INFO</li>
                    </ul>
                    <ul>
                        <li>1.교환 및 반품방법</li>
                            <ol>사이트내 교환/반품신청시 1-3일내에 기사님이 방문하십니다</ol>
                            <ol>3일 이후에도 방문없을시 택배사 혹은 고피플 고객센터로 연락바랍니다</ol>
                            <ol>상품수령일 기준 7일이내 Q&A 게시판에 교환 / 반품신청해주세요</ol>
                            <ol>현금동봉시 분실우려가 있어 계좌입금을 권해드립니다. 분실시 당사에서 책임지지 않습니다.</ol>
                            <ol> 배송비 입금계좌 : 은행 123456-12-12345 (LOGO)</ol>
                        <li>2.교환시 동봉금액 안내</li>
                            <ol>5000원 동봉후 우체국착불로 발송 / 타택배 이용시 선결제후 2500원 동봉</ol>
                        <li>3.반품시 동봉금액 안내</li>
                            <ol>카드결제</ol>
                            <ol>1.단일상품/전체반품시 : 5000원 동봉 (최초결제 배송비까지 전체취소)</ol>
                            <ol>2.복수구매후 반품상품제외금액 7만원이상일경우 (2500원 동봉)</ol>
                            <ol>3.복수구매후 반품상품제외금액 7만원미만일경우 (5000원 동봉)</ol>
                            <ol>타택배 이용시 선결제후 2500원 동봉 , 반품상품 제외금액 7만원이상일경우  미동봉</ol>
                        <li> [네이버페이 이용자 : 전체반품시 5000원 동봉 / 부분반품시 7만원이상일경우 2500원 동봉 , 미만일경우 5000원 동봉]</li>
                            <ol>우체국택배 기준입니다.</ol>
                        <li>4.교환 및 반품이 불가능한 경우</li>
                            <ol>상품수령일 기준 7일이내 교환 / 반품 접수를 신청하지 않은 경우</ol>
                            <ol>불량상품 수령시 동일제품으로 무상교환처리 해드립니다.</ol>
                            <ol>착용흔적 및 냄새 / 보관중 냄새가 베인경우도 반품불가능</ol>
                            <ol>상품이 최초 배송상태와 다른경우 (드라이크리닝 및 세탁된 제품포함)</ol>
                            <ol>주문제작으로만 판매되는 수제화상품의 경우</ol>
                        <li>5.불량이 아닌 경우</li>
                            <ol>제거가능실밥 / 원단특유냄새 / 먼지류</ol>   
                            <ol>대량생산으로 인한 마감처리 미흡</ol>
                            <ol>상품색상은 모니터밝기 및 촬영당시 빛에 따라 달라보일수 있습니다</ol>
                            <ol>리오더시 원단이 변경될수 있습니다</ol>
                    </ul>
                    <ul>
                        <li>- 주소안내 : 서울 강남 </li>
                    </ul>
                </div>
            </div>
            <div class="inner">
                <div class="binner">
                    <a href="#a" class="binner1">HOME</a>
                    <a href="#a" class="binner2">COMPANY</a>
                    <a href="#a" class="binner3">AGREEMENTPRIVACY</a>
                    <a href="#a" class="binner4">POLICY</a>
                    <a href="#a" class="binner5">GUIDE</a>
                </div>
                <div class="binner_address">
                    <a href="#a" class="binner_address1">COMPANY : LOGO</a>
                    <a href="#a" class="binner_address2">OWNER  : LOGO</a>
                    <a href="#a" class="binner_address3">TEL : 051-0000-0000</a>
                    <a href="#a" class="binner_address4">ADDRESS : 서울 강남</a>
                </div>
                <div class="binner_copyright">
                    <a href="#a" class="binner_copyright">COPYRIGHT (C) ALL RIGHTS RESERVED. DESIGN BY DAYDESIGN</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/product/product_detail.js"></script> 
</body>
</html>