<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>릴스 숏야상 (4color)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/leftbar.css">
    <link rel="stylesheet" href="/static/css/rproduct.css">
</head>
<body>
    <div id="container">
        <div class="leftbar">
                <div class="top_logo">
                    <a href="#LOGO">LOGO</a>
                </div>
                <div class="menu_top">
                    <a href="#MYPAGE">MYPAGE</a>
                    <a href="cart">CART</a>
                    <a href="login">LOGIN</a>
                    <a href="#JOIN US">JOIN US </a>
                </div>
                <div class="menu_bottom">
                    <a href="#ORDER">ORDER </a>
                    <a href="#WISH">WISH </a>
                    <a href="notice">NOTICE </a>
                    <a href="Q&A">Q&A</a>
                </div>
                <div class="search-container">
                    <input type="text" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="main_menu">
                    <ul>
                        <li><a href="#NEW">NEW</a></li>
                        <li><a href="#OUTER">OUTER</a></li>
                        <li><a href="#TOP">TOP</a></li>
                        <li><a href="#PANTS">PANTS</a></li>
                        <li><a href="#SHIRTS">SHIRTS</a></li>
                        <li><a href="#BAG & SHOES">BAG & SHOES</a></li>
                        <li><a href="#ACC">ACC</a></li>
                    </ul>
                </div>
                <div class="leftbar_info">
                    <ul class="leftbar_info_top">
                        <li>T.051-0000-0000</li>
                        <ol>MONDAY TO FRIDAY AM. 11:00 - PM 05:00</a></ol>
                        <ol>SAT.SUN.HOLIDAY OFF</a></ol>
                    </ul>
                    <ul class="leftbar_info_bottom">
                        <li>BANK INFO</li>
                        <ol>은행 123456-12-12345</ol>
                        <ol>주식회사 LOGO</ol>
                    </ul>
            </div>
        </div>
        <div class="main-container">
            <div class="product_view">
                <div class="image_container">
                    <div class="img">
                        <img src="/static/images/image3.jpg" alt="" class="big_img">
                    </div>
                </div>
                <div>
                    <div class="product_container">
                        <div>
                            <a class="name">릴스 숏야상 (4color)</a>
                            <a class="sub">P0000HZQ</a>
                        </div>
                        <table class="tableview">
                            <tbody>
                                <tr>
                                    <th>판매가</th>
                                    <td>79,000원</td>
                                </tr>
                                <tr>
                                    <th>포인트</th>
                                    <td>790원(1%)</td>
                                </tr>
                                <tr>
                                    <th>컬러</th>
                                    <td>
                                        <select name="color" class="product-inputs">
                                            <option value="none">옵션 선택</option>
                                            <option value="그레이">그레이</option>
                                            <option value="블랙">블랙</option>
                                            <option value="카키">카키</option>
                                            <option value="차콜">차콜</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>사이즈</th>
                                    <td>
                                        <select name="size" class="product-inputs">
                                            <option value="none">옵션 선택</option>
                                            <option value="FREE">FREE</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="tablechoice">
                            <tbody>
                                <tr>
                                <th>릴스 숏야상 (4color)</th>
                                    <td>
                                        <div class="quantity">
                                            <div class="number">
                                                <span class="plus" >+</span>
                                                <input type="text" readonly value="1">
                                                <span class="minus">-</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="item">- 그레이/FREE</td>
                                </tr>
                            </tbody>
                        </table>
                    
                        <table class="tableprice">
                            <tbody>
                                <tr>
                                    <th>총 합계</th>
                                    <td>79,000원</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <a href="#a" class="btn1">구매하기</a>
                            <a href="#a" class="btn2">장바구니</a>
                            <a href="#a" class="btn3">위시리스트</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bmenu">
                <a href="#a" class="bmenu1">DETAIL</a>
                <a href="#a" class="bmenu2">REVIEW</a>
                <a href="#a" class="bmenu3">Q&A</a>
                <a href="#a" class="bmenu4">배송/교환/반품</a>
            </div>
        </div>
    </div>
</body>
</html>