<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/leftbar.css">
    <link rel="stylesheet" href="/static/css/inner.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <link rel="stylesheet" href="/static/css/notice.css">
</head>
</head>
<body>
    <div id="container">
        <div class="leftbar">
            <div class="top_logo">
                <a>LOGO</a>
            </div>
            <div class="menu_top">
                <a href="/login" class="login">LOGIN</a>
                <a href="/register" class="register">JOIN US</a>
                <a href="/notice" class="leftbar-notice">NOTICE</a>
                <a href="/boardlist" class="boardlist">Q&A</a>
            </div>
            <div class="search-container">
                <input type="text" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="main_menu">
                <ul>
                    <li><a href="/all">ALL</a></li>
                    <li><a href="/outer">OUTER</a></li>
                    <li><a href="/top">TOP</a></li>
                    <li><a href="/pants">PANTS</a></li>
                    <li><a href="/shirts">SHIRTS</a></li>
                    <li><a href="/bag&shoes">BAG & SHOES</a></li>
                    <li><a href="/acc">ACC</a></li>
                </ul>
            </div>
            <div class="leftbar_info">
                <ul class="leftbar_info_top">
                    <li>T.051-0000-0000</li>
                    <ol>MONDAY TO FRIDAY AM. 11:00 - PM 05:00</a></ol>
                    <ol>SAT.SUN.HOLIDAY OFF</a></ol>
                </ul>
                <ul class="leftbar_info_bottom">
                    <li>BANK INFO</li>
                    <ol>은행 123456-12-12345</ol>
                    <ol>주식회사 LOGO</ol>
                </ul>
            </div>
        </div>
        <div class="main-container">
            <div class="post">
                <ul class="post-maintitle">
                    BOARD
                    <li class="post-subtitle">게시판</li>
                </ul>
                <table class="board_list">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>이름</th>
                        <th>옷 종류</th>
                        <th>내용</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board : ${list}">
                        <td th:text="${board.id}"></td>
                        <td th:text="${board.name}"></td>
                        <td th:text="${board.title}"></td>
                        <td><a th:text="${board.content}" th:href="@{/boardview(id=${board.id})}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="boardlist">
                    <th:block class="boardlist-page" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <a class="bpage1" th:if="${page != nowPage}" th:href="@{/boardlist(page = ${page - 1})}" th:text="${page}"></a>
                        <a class="bpage2" th:if="${page == nowPage}" th:text="${page}"></a>
                    </th:block>
                </div>
                    <button class="button-board" type="button">글쓰기</button>
                </tfoot>
                    <div class="board-search">
                        <p>
                            <select name="search-date" id="search-date">
                                <option value="week">일주일</option>
                                <option value="month">한달</option>
                                <option value="3-month">세달</option>
                                <option value="all">전체</option>
                            </select>
                            <select name="search-key" id="search-key">
                                <option value="subject">제목</option>
                                <option value="content">내용</option>
                                <option value="writer_name">글쓴이</option>
                                <option value="member-id">아이디</option>
                                <option value="nickname">별명</option>
                            </select>
                            <input type="search" name="search">
                            <span class="bt_button">
                                        <a href="" class="gray">찾기</a>
                            </span>
                        </p>
                    </div>
                <tfoot>
            </div>
            <div class="inner">
                <div class="binner">
                    <a href="all" class="all">HOME</a>
                    <a href="" class="binner2">COMPANY</a>
                    <a href="" class="binner3">AGREEMENTPRIVACY</a>
                    <a href="" class="binner4">POLICY</a>
                    <a href="" class="binner5">GUIDE</a>
                </div>
                <div class="binner_address">
                    <a href="" class="binner_address1">COMPANY : LOGO</a>
                    <a href="" class="binner_address2">OWNER  : LOGO</a>
                    <a href="" class="binner_address3">TEL : 051-0000-0000</a>
                    <a href="" class="binner_address4">ADDRESS : 서울 강남</a>
                </div>
                <div class="binner_copyright">
                    <a href="#a" class="binner_copyright">COPYRIGHT (C) ALL RIGHTS RESERVED. DESIGN BY DAYDESIGN</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/board.js"></script>
</body>
</html>