<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/board.css">
    <link rel="stylesheet" href="/static/css/notice.css">
    <link rel="stylesheet" href="/static/css/leftbar.css">
    <link rel="stylesheet" href="/static/css/inner.css">
    <link rel="stylesheet" href="/static/css/post.css">
</head>
<body>
    <div id="container">
        <div class="leftbar">
            <div class="top_logo">
                <a>LOGO</a> 
            </div>
            <div class="menu_top">
                <a href="/login" class="login">LOGIN</a>
                <a href="/register" class="register">JOIN US</a>
                <a href="/notice" class="leftbar-notice">NOTICE</a>
                <a href="/boardlist" class="boardlist">Q&A</a>
            </div>
            <div class="search-container">
                <input type="text" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="main_menu">
                <ul>
                    <li><a href="/all" class="all">ALL</a></li>
                    <li><a href="/outer" class="outer">OUTER</a></li>
                    <li><a href="/top" class="top">TOP</a></li>
                    <li><a href="/pants" class="pants">PANTS</a></li>
                    <li><a href="/shirts" class="shirts">SHIRTS</a></li>
                    <li><a href="/bag&shoes" class="bag&shoes">BAG & SHOES</a></li>
                    <li><a href="/acc" class="acc">ACC</a></li>     
                </ul>
            </div>
            <div class="leftbar_info">
                <ul class="leftbar_info_top">
                    <li>T.051-0000-0000</li>
                    <ol>MONDAY TO FRIDAY AM. 11:00 - PM 05:00</a></ol>
                    <ol>SAT.SUN.HOLIDAY OFF</a></ol>
                </ul>
                <ul class="leftbar_info_bottom">
                    <li>BANK INFO</li>
                    <ol>은행 123456-12-12345</ol>
                    <ol>주식회사 LOGO</ol>
                </ul>
            </div>
        </div>
        <div class="main-container">
            <div class="post">
                <ul class="post-maintitle">
                    BOARD
                    <li class="post-subtitle">게시판</li>
                </ul>
            </div>
            <form action="/boardlist" method="post">
                <div class="bottom-bar">  
                    <table class="table-main">
                        <h5>게시글 작성</h5> 
                    <tbody class="tbody-main">
                        <tr>
                            <th class="write"scope="row">이름 </th>
                            <td> 
                                <input name ="name"class="text-input" type="text"placeholder=" 이름을 입력하세요." required>
                            </td>
                        </tr>
                        <tr>
                            <th class="write"scope="row">옷 종류</th>
                            <td>
                                <input name ="title"class="text-input" type="text"placeholder=" 옷종류를 입력하세요." required>
                            </td>
                        </tr>
                        <tr>
                            <th class="write"scope="row">내용</th>
                                <td><textarea name ="content"class="text-text"placeholder=" 내용을 입력하세요." required></textarea>
                            </td>
                        </tr>
                    </table>
                    <button class="btn-a" type="submit">작성</button>
                </div>
            </form>
            <div class="inner">
                <div class="binner">
                    <a href="#a" class="binner1">HOME</a>
                    <a href="#a" class="binner2">COMPANY</a>
                    <a href="#a" class="binner3">AGREEMENTPRIVACY</a>
                    <a href="#a" class="binner4">POLICY</a>
                    <a href="#a" class="binner5">GUIDE</a>
                </div>
                <div class="binner_address">
                    <a href="#a" class="binner_address1">COMPANY : LOGO</a>
                    <a href="#a" class="binner_address2">OWNER  : LOGO</a>
                    <a href="#a" class="binner_address3">TEL : 051-0000-0000</a>
                    <a href="#a" class="binner_address4">ADDRESS : 서울 강남</a>
                </div>
                <div class="binner_copyright">
                    <a href="#a" class="binner_copyright">COPYRIGHT (C) ALL RIGHTS RESERVED. DESIGN BY DAYDESIGN</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/board.js"></script>
</body>
</html>