<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/board.css">
</head>
<body>
    <form action="/boardlist    " method="post">
        <div class="bottom-bar">  
            <table class="table-main">
                <h2>게시글 작성</h2> 
            <tbody class="tbody-main">
                <tr>
                    <th class="write"scope="row">이름 </th>
                    <td> 
                        <input name ="name"class="text-input" type="text"placeholder=" 이름을 입력하세요." required>
                    </td>
                </tr>
                <tr>
                    <th class="write"scope="row">옷 종류</th>
                    <td>
                        <input name ="title"class="text-input" type="text"placeholder=" 옷종류를 입력하세요." required>
                    </td>
                </tr>
                <tr>
                    <th class="write"scope="row">내용</th>
                        <td><textarea name ="content"class="text-text"placeholder=" 내용을 입력하세요." required></textarea>
                    </td>
                </tr>
            </table>
            <button class="btn-a" type="submit">작성</button>
        </div>
    </form>
    <script src="/static/js/board.js"></script>
    
</body>
</html>