<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/leftbar.css">
    <link rel="stylesheet" href="/static/css/inner.css">
    <title>Main</title>
</head>
<body>
    <div id="container">
        <div class="leftbar">
            <div class="top_logo">
                <a href="#LOGO">LOGO</a>
            </div>
            <div class="menu_top">
                <a href="#MYPAGE">MYPAGE</a>
                <a href="cart">CART</a>
                <a href="login">LOGIN</a>
                <a href="#JOIN US">JOIN US </a>
            </div>
            <div class="menu_bottom">
                <a href="#ORDER">ORDER </a>
                <a href="#WISH">WISH </a>
                <a href="notice">NOTICE </a>
                <a href="Q&A">Q&A</a>
            </div>
            <div class="search-container">
                <input type="text" name="leftbarsearch">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="main_menu">
                <ul>
                    <li><a href="#NEW">NEW</a></li>
                    <li><a href="#OUTER">OUTER</a></li>
                    <li><a href="#TOP">TOP</a></li>
                    <li><a href="#PANTS">PANTS</a></li>
                    <li><a href="#SHIRTS">SHIRTS</a></li>
                    <li><a href="#BAG & SHOES">BAG & SHOES</a></li>
                    <li><a href="#ACC">ACC</a></li>
                </ul>
            </div>
            <div class="leftbar_info">
                <ul class="leftbar_info_top">
                    <li>T.051-0000-0000</li>
                    <ol>MONDAY TO FRIDAY AM. 11:00 - PM 05:00</a></ol>
                    <ol>SAT.SUN.HOLIDAY OFF</a></ol>
                </ul>
                <ul class="leftbar_info_bottom">
                    <li>BANK INFO</li>
                    <ol>은행 123456-12-12345</ol>
                    <ol>주식회사 LOGO</ol>
                </ul>
            </div>
        </div>
        <div class="main-container">
                <div class="header">NEW ARRIVALS</div>
                    <div class="main">    
                        <div class="goods_box">
                            
                            <img src="/static/images/image3.jpg" class="goods_img">
                            
                            <div class="goods_nm">릴스 숏야상(4color)</div>
                            <div class="goods_price">79,000원</div>
                            <div class="content">스냅버튼으로 제작된 미니멀한 나일론 숏야상입니다:)</div>
                        </div>

                            <div class="goods_box">
                            
                            <img src="/static/images/image4.jpg" class="goods_img">
                            
                            <div class="goods_nm">모먼트 페이퍼 오버핏 셔츠(6color)</div>
                            <div class="goods_price">42,000원</div>
                            <div class="content">오버핏중에서도 핏이 좋고 기본컬러들로 나왔습니다,^^</div>
                        </div>

                            <div class="goods_box">
                            
                            <img src="/static/images/image5.jpg" class="goods_img">
                            
                            <div class="goods_nm">심플 해비 하찌 버튼가디건(6color)</div>
                            <div class="goods_price">54,000원</div>
                            <div class="content">어느정도 두께감이 있는 요즘핫한 카라가디건입니다:)</div>
                        </div>

                            <div class="goods_box">
                            
                            <img src="/static/images/image6.jpg" class="goods_img">
                            
                            <div class="goods_nm">피그먼트 워싱 오버셔츠(4color)
                            </div>
                            <div class="goods_price">34,000원</div>
                            <div class="content">흔치않은 피그먼트 워싱의 오버핏셔츠로 유니크한 제품입니다,!</div>
                        </div>

                            <div class="goods_box">
                            
                            <img src="/static/images/image7.jpg" class="goods_img">
                            
                            <div class="goods_nm">USA 코튼 이중지 와이드팬츠(4color)</div>
                            <div class="goods_price">43,000원</div>
                            <div class="content">탄탄한 USA 코튼 이중지원단입니다 , 강추!!</div>
                        </div>
                        <div class="goods_box">
                            
                            <img src="/static/images/image8.jpg" class="goods_img">
                            
                            <div class="goods_nm">리치 수피마코튼 후드티(6color)</div>
                            <div class="goods_price">47,000원</div>
                            <div class="content">수피마코튼으로 부드럽고 깨끗한 안감입니다:)</div>
                    </div>
                </div>
            <div class="inner">
                <div class="binner">
                    <a href="#a" class="binner1">HOME</a>
                    <a href="#a" class="binner2">COMPANY</a>
                    <a href="#a" class="binner3">AGREEMENTPRIVACY</a>
                    <a href="#a" class="binner4">POLICY</a>
                    <a href="#a" class="binner5">GUIDE</a>
                </div>
                <div class="binner_address">
                    <a href="#a" class="binner_address1">COMPANY : LOGO</a>
                    <a href="#a" class="binner_address2">OWNER  : LOGO</a>
                    <a href="#a" class="binner_address3">TEL : 051-0000-0000</a>
                    <a href="#a" class="binner_address4">ADDRESS : 서울 강남</a>
                </div>
                <div class="binner_copyright">
                    <a href="#a" class="binner_copyright">COPYRIGHT (C) ALL RIGHTS RESERVED. DESIGN BY DAYDESIGN</a>
                </div>
            </div>
        </div>
</body>
</html>