<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/notice.css">
    <link rel="stylesheet" href="/static/css/leftbar.css">
    <link rel="stylesheet" href="/static/css/inner.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <title>Notice</title>
</head>
<body>
    <div id="container">
        <div class="leftbar">
            <div class="top_logo">
                <a>LOGO</a> 
            </div>
            <div class="menu_top">
                <a href="/login" class="login">LOGIN</a>
                <a href="/register" class="register">JOIN US</a>
                <a href="/notice" class="leftbar-notice">NOTICE</a>
                <a href="/boardlist" class="boardlist">Q&A</a>
            </div>
            <div class="search-container">
                <input type="text" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="main_menu">
                <ul>
                    <li><a href="all" class="all">ALL</a></li>
                    <li><a href="outer" class="outer">OUTER</a></li>
                    <li><a href="top" class="top">TOP</a></li>
                    <li><a href="pants" class="pants">PANTS</a></li>
                    <li><a href="shirts" class="shirts">SHIRTS</a></li>
                    <li><a href="bag&shoes" class="bag&shoes">BAG & SHOES</a></li>
                    <li><a href="acc" class="acc">ACC</a></li>     
                </ul>
            </div>
                <div class="leftbar_info">
                    <ul class="leftbar_info_top">
                        <li>T.051-0000-0000</li>
                        <ol>MONDAY TO FRIDAY AM. 11:00 - PM 05:00</a></ol>
                        <ol>SAT.SUN.HOLIDAY OFF</a></ol>
                    </ul>
                    <ul class="leftbar_info_bottom">
                        <li>BANK INFO</li>
                        <ol>은행 123456-12-12345</ol>
                        <ol>주식회사 LOGO</ol>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-container">
            <header>
                <div class="main-board">
                    <div class="main-title">
                        <div class="post">
                            <ul class="post-maintitle">
                                NOTICE
                                <li class="post-subtitle">공지사항</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div class="notice">
                    <table class="board_list">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>SUBJECT</th>
                                <th>NAME</th>
                                <th>DATE</th>
                                <th>HIT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★고피플 어플포인트 이용안내(출석체크&푸시체크 적립이벤트)★</a>
                                    <span class="txtEm">[11]</span>
                                </td>
                                <td>고피플</td>
                                <td>2021-02-24</td>
                                <td>2349</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★명예의 전당 회원등급안내★</a>
                                    <span class="txtEm">[338]</span>
                                </td>
                                <td>고피플</td>
                                <td>2018-06-27</td>
                                <td>7703</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★더 정확한 사이즈 추천을 원한다면?!★</a>
                                    <span class="txtEm">[2]</span>
                                </td>
                                <td>고피플</td>
                                <td>2017-08-23</td>
                                <td>7321</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★교환 및 반품 보내시는 방법★</a>
                                    <span class="txtEm">[57]</span>
                                </td>
                                <td>고피플</td>
                                <td>20217-08-23</td>
                                <td>12305</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★고사장(모델) 스펙안내★</a>
                                    <span class="txtEm">[4]</span>
                                </td>
                                <td>고피플</td>
                                <td>2017-08-23</td>
                                <td>8444</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★우체국 토요일도 배송합니다!★</a>
                                    <span class="txtEm">[73]</span>
                                </td>
                                <td>고피플</td>
                                <td>2017-08-23</td>
                                <td>5753</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★휴대폰결제 취소관련 필독★</a>
                                    <span class="txtEm">[2]</span>
                                </td>
                                <td>고피플</td>
                                <td>2017-08-23</td>
                                <td>1563</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★실측재는방법★</a>
                                </td>
                                <td>고피플</td>
                                <td>2017-05-18</td>
                                <td>4629</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★VIP회원등급안내★</a>
                                    <span class="txtEm">[2581]</span>
                                </td>
                                <td>고피플</td>
                                <td>2015-09-30</td>
                                <td>13185</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★카톡상담안내★</a>
                                    <span class="txtEm">[2]</span>
                                </td>
                                <td>고피플</td>
                                <td>2015-09-12</td>
                                <td>4440</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★GOPEOPLE(고피플)★</a>
                                    <span class="txtEm">[21]</span>
                                </td>
                                <td>고피플</td>
                                <td>2015-08-14</td>
                                <td>19354</td>
                            </tr>
                        </tbody>
                    </table>
                    <tfoot>
                        <div class="message">검색 결과가 없습니다.</div>
                    </tfoot>
                    <div class="board-search">
                        <p>
                            <select name="search-date" id="search-date">
                                <option value="week">일주일</option>
                                <option value="month">한달</option>
                                <option value="3-month">세달</option>
                                <option value="all">전체</option>
                            </select>
                            <select name="search-key" id="search-key">
                                <option value="subject">제목</option>
                                <option value="content">내용</option>
                                <option value="writer_name">글쓴이</option>
                                <option value="member-id">아이디</option>
                                <option value="nickname">별명</option>
                            </select>
                            <input type="search" name="search">
                            <span class="bt_button">
                                <a href="" class="gray">찾기</a>
                            </span>
                        </p>
                    </div>
                </div>
            </main>
            <div class="inner">
                <div class="binner">
                    <a href="#a" class="binner1">HOME</a>
                    <a href="#a" class="binner2">COMPANY</a>
                    <a href="#a" class="binner3">AGREEMENTPRIVACY</a>
                    <a href="#a" class="binner4">POLICY</a>
                    <a href="#a" class="binner5">GUIDE</a>
                </div>
                <div class="binner_address">
                    <a href="#a" class="binner_address1">COMPANY : LOGO</a>
                    <a href="#a" class="binner_address2">OWNER  : LOGO</a>
                    <a href="#a" class="binner_address3">TEL : 051-0000-0000</a>
                    <a href="#a" class="binner_address4">ADDRESS : 서울 강남</a>
                </div>
                <div class="binner_copyright">
                    <a href="#a" class="binner_copyright">COPYRIGHT (C) ALL RIGHTS RESERVED. DESIGN BY DAYDESIGN</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/static/js/leftbar/leftbar.js"></script>
</body>
</html>