*{
  box-sizing: border-box;
}

html, body{
  margin: 0; 
  height: 100%;
}

.test{
  display: flex;
  height: 100%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    width: 300px;
    background: #FF6347;
    height: 100%;
    overflow: auto;
    position: fixed;
  }
  
  li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #000;
    font-weight: bold;
  }
  
  li a:hover {
    background: #333;
    color: #fff;
  }
  
  li a.home {
    background : #333;
    color: #fff;
  }
  
  .cd1 {
    margin-left: 330px;
  }