<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/notice.css">
    <link rel="stylesheet" href="css/leftbar.css">
    <title>Notice</title>
</head>
<body>
    <div class="container">
        <div class="leftbar">
            <h1>LOGO</h1>
            <!--링크에 밑줄 삭제 style="text-decoration: none;"-->
            <div class="menu_top">
                <a href="#MYPAGE">MYPAGE</a>
                <a href="#CART">CART</a>
                <a href="#LOGIN">LOGIN</a>
                <a href="#JOIN US">JOIN US </a>
            </div>
            
            <div class="menu_bottom">
                <a href="#ORDER">ORDER </a>
                <a href="#WISH">WISH </a>
                <a href="#NOTICE">NOTICE </a>
                <a href="#Q&A">Q&A</a>
            </div>
            <div class="search"><!-- 검색창  -->
                <input type="text" placeholder=" 검색어 입력">
                <img class="imagesearch"src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
            </div>
    
            <div class="leftbar-center">  <!-- 옷 메뉴  -->
                <div><!-- NEW -->
                    <a href="#NEW">NEW</a>
                </div>
                <div><!-- OUTER -->
                    <a href="#OUTER">OUTER</a>  
                </div>
                <div><!-- TOP -->
                    <a href="#TOP#">TOP</a>
                </div>
                <div><!-- PANTS -->
                    <a href="#PANTS">PANTS</a>
                </div>
                <div><!-- SHIRTS -->
                    <a href="#SHIRTS">SHIRTS</a>
                </div>
                <div><!-- BAG & SHOES -->
                    <a href="#BAG & SHOES">BAG & SHOES</a>
                </div>
                <div><!-- ACC -->
                    <a href="#ACC">ACC</a>
                </div>
                </div>
            <div class="bottom"><!-- 하단 번호 등 -->
                <a class="a-1">T.051-0000-0000</a>
                <a class="a-2">MONDAY TO FRIDAY AM. 11:00 - PM 05:00 </a>
                <a class="a-2">SAT.SUN.HOLIDAY OFF</a>
                <a class="a-1">BANK INFO</a>
                <a class="a-2">은행 123456-12-12345</a>
                <a class="a-2">주식회사 LOGO </a>
            </div>
            </div>
        </div>
        <div class="main-container">
            <header>
                <div class="main-board">
                    <div class="main-title">
                        <div class="path">
                            <ol>
                                <li>HOME</li>
                                <li>></li>
                                <li>BOARD</li>
                                <li>></li>
                                <strong>NOTICE</strong>
                            </ol>
                        </div>
                        <div class="title">
                            <h2>NOTICE</h2>
                            <p>공지사항입니다.</p>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div class="notice">
                    <table class="board_list">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>SUBJECT</th>
                                <th>NAME</th>
                                <th>DATE</th>
                                <th>HIT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★고피플 어플포인트 이용안내(출석체크&푸시체크 적립이벤트)★</a>
                                    <span class="txtEm">[11]</span>
                                </td>
                                <td>고피플</td>
                                <td>2021-02-24</td>
                                <td>2349</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★명예의 전당 회원등급안내★</a>
                                    <span class="txtEm">[338]</span>
                                </td>
                                <td>고피플</td>
                                <td>2018-06-27</td>
                                <td>7703</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★더 정확한 사이즈 추천을 원한다면?!★</a>
                                    <span class="txtEm">[2]</span>
                                </td>
                                <td>고피플</td>
                                <td>2017-08-23</td>
                                <td>7321</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★교환 및 반품 보내시는 방법★</a>
                                    <span class="txtEm">[57]</span>
                                </td>
                                <td>고피플</td>
                                <td>20217-08-23</td>
                                <td>12305</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★고사장(모델) 스펙안내★</a>
                                    <span class="txtEm">[4]</span>
                                </td>
                                <td>고피플</td>
                                <td>2017-08-23</td>
                                <td>8444</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★우체국 토요일도 배송합니다!★</a>
                                    <span class="txtEm">[73]</span>
                                </td>
                                <td>고피플</td>
                                <td>2017-08-23</td>
                                <td>5753</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★휴대폰결제 취소관련 필독★</a>
                                    <span class="txtEm">[2]</span>
                                </td>
                                <td>고피플</td>
                                <td>2017-08-23</td>
                                <td>1563</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★실측재는방법★</a>
                                </td>
                                <td>고피플</td>
                                <td>2017-05-18</td>
                                <td>4629</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★VIP회원등급안내★</a>
                                    <span class="txtEm">[2581]</span>
                                </td>
                                <td>고피플</td>
                                <td>2015-09-30</td>
                                <td>13185</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★카톡상담안내★</a>
                                    <span class="txtEm">[2]</span>
                                </td>
                                <td>고피플</td>
                                <td>2015-09-12</td>
                                <td>4440</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td>
                                    <a href="">★GOPEOPLE(고피플)★</a>
                                    <span class="txtEm">[21]</span>
                                </td>
                                <td>고피플</td>
                                <td>2015-08-14</td>
                                <td>19354</td>
                            </tr>
                        </tbody>
                    </table>
                    <tfoot>
                        <div class="message">검색 결과가 없습니다.</div>
                    </tfoot>
                    <div class="board-search">
                        <p>
                            <select name="search-date" id="search-date">
                                <option value="week">일주일</option>
                                <option value="month">한달</option>
                                <option value="3-month">세달</option>
                                <option value="all">전체</option>
                            </select>
                            <select name="search-key" id="search-key">
                                <option value="subject">제목</option>
                                <option value="content">내용</option>
                                <option value="writer_name">글쓴이</option>
                                <option value="member-id">아이디</option>
                                <option value="nickname">별명</option>
                            </select>
                            <input type="search" name="search">
                            <span class="bt_button">
                                <a href="" class="gray">찾기</a>
                            </span>
                        </p>
                        <div class="img">
                            <img src="/static/images/talk.png" alt="이미지">
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    </div>
</body>
</html>