<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Q&A.css">
    <link rel="stylesheet" href="css/leftbar.css">
    <title>Q&A</title>
</head>
<body>
    <div class="container">
        <div class="leftbar">
            <h1>LOGO</h1>
            <!--링크에 밑줄 삭제 style="text-decoration: none;"-->
            <div class="menu_top">
                <a href="#MYPAGE">MYPAGE</a>
                <a href="#CART">CART</a>
                <a href="#LOGIN">LOGIN</a>
                <a href="#JOIN US">JOIN US </a>
            </div>
            
            <div class="menu_bottom">
                <a href="#ORDER">ORDER </a>
                <a href="#WISH">WISH </a>
                <a href="#NOTICE">NOTICE </a>
                <a href="#Q&A">Q&A</a>
            </div>
            <div class="search"><!-- 검색창  -->
                <input type="text" placeholder=" 검색어 입력">
                <img class="imagesearch"src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
            </div>
    
            <div class="leftbar-center">  <!-- 옷 메뉴  -->
                <div><!-- NEW -->
                    <a href="#NEW">NEW</a>
                </div>
                <div><!-- OUTER -->
                    <a href="#OUTER">OUTER</a>  
                </div>
                <div><!-- TOP -->
                    <a href="#TOP#">TOP</a>
                </div>
                <div><!-- PANTS -->
                    <a href="#PANTS">PANTS</a>
                </div>
                <div><!-- SHIRTS -->
                    <a href="#SHIRTS">SHIRTS</a>
                </div>
                <div><!-- BAG & SHOES -->
                    <a href="#BAG & SHOES">BAG & SHOES</a>
                </div>
                <div><!-- ACC -->
                    <a href="#ACC">ACC</a>
                </div>
                </div>
            <div class="bottom"><!-- 하단 번호 등 -->
                <a class="a-1">T.051-0000-0000</a>
                <a class="a-2">MONDAY TO FRIDAY AM. 11:00 - PM 05:00 </a>
                <a class="a-2">SAT.SUN.HOLIDAY OFF</a>
                <a class="a-1">BANK INFO</a>
                <a class="a-2">은행 123456-12-12345</a>
                <a class="a-2">주식회사 LOGO </a>
            </div>
            </div>
        </div>
        <div class="main-container">
            <header>
                <div class="main-board">
                    <div class="main-title">
                        <div class="path">
                            <ol>
                                <li>HOME</li>
                                <li>></li>
                                <li>BOARD</li>
                                <li>></li>
                                <strong>NOTICE</strong>
                            </ol>
                        </div>
                        <div class="title">
                            <h2>Q / A</h2>
                            <p>상품 Q&A입니다.</p>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div class="notice">
                    <table class="board_list">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>ITEM</th>
                                <th>SUBJECT</th>
                                <th>NAME</th>
                                <th>DATE</th>
                                <th>HIT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>공지</td>
                                <td> </td>
                                <td>
                                    <a href="">★교환/반품 보내시는 방법★</a>
                                    <span class="txtEm">[100]</span>
                                </td>
                                <td>고피플</td>
                                <td>2022-04-11</td>
                                <td>13840</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td> </td>
                                <td>
                                    <a href="">★휴대폰결제관련 필독★</a>
                                    <span class="txtEm">[24]</span>
                                </td>
                                <td>고피플</td>
                                <td>2017-05-18</td>
                                <td>6380</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td> </td>
                                <td>
                                    <a href="">★우체국 토요일도 배송합니다!★</a>
                                    <span class="txtEm">[210]</span>
                                </td>
                                <td>고피플</td>
                                <td>2015-11-06</td>
                                <td>14885</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td> </td>
                                <td>
                                    <a href="">★고사장(모델) 스펙안내★</a>
                                    <span class="txtEm">[17]</span>
                                </td>
                                <td>고피플</td>
                                <td>2015-10-27</td>
                                <td>13672</td>
                            </tr>
                            <tr>
                                <td>공지</td>
                                <td> </td>
                                <td>
                                    <a href="">★더 정확한 사이즈 추천을 원한다면!?★</a>
                                    <span class="txtEm">[133]</span>
                                </td>
                                <td>고피플</td>
                                <td>2015-08-15</td>
                                <td>18282</td>
                            </tr>
                            <tr>
                                <td>81859</td>
                                <td class="center">
                                    <a href="">
                                        <img src="/static/images/pants.webp" alt="와이드팬츠">
                                    </a>
                                </td>
                                <td class="left-txbreak">
                                    <a href="">
                                        <span class="prd_name">S/S 프리미엄 와이드팬츠(5color)</span>
                                        상품문의
                                    </a>
                                    <img src="/static/images/new.png" alt="new">
                                </td>
                                <td>
                                    <img src="/static/images/bro.png" alt="bro">40373908@n
                                </td>
                                <td>2022-10-03</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>81858</td>
                                <td> </td>
                                <td class="left-txbreak">
                                    <a href="">교환문의</a>
                                    <img src="/static/images/new.png" alt="new">
                                </td>
                                <td>
                                    <img src="/static/images/bro.png" alt="bro">김원미
                                </td>
                                <td>2022-10-02</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>81857</td>
                                <td class="center">
                                    <a href="">
                                        <img src="/static/images/oeverfit-shirt.png" alt="오버핏셔츠">
                                    </a>
                                </td>
                                <td class="left-txbreak">
                                    <a href="">
                                        <span class="prd_name">굿핏 옥스포드 오버핏 셔츠(2color) (입고지연 10.04(화) 입고예정)</span>
                                        상품문의
                                    </a>
                                    <img src="/static/images/new.png" alt="new">
                                </td>
                                <td>
                                    <img src="/static/images/bro.png" alt="bro">이정우
                                </td>
                                <td>2022-10-02</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>81856</td>
                                <td class="center">
                                    <a href="">
                                        <img src="/static/images/standard.jpg" alt="카라니트">
                                    </a>
                                </td>
                                <td class="left-txbreak">
                                    <a href="">
                                        <span class="prd_name">#워셔블 스탠다드 카라니트(Good fabric) (오트밀 10.06(목) 입고예정)</span>
                                        교환문의
                                    </a>
                                    <img src="/static/images/new.png" alt="new">
                                </td>
                                <td>
                                    <img src="/static/images/bro.png" alt="bro">김태멘
                                </td>
                                <td>2022-10-02</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="content">
                        <div class="board-button">
                            <span class="right-write-btn">
                                <a href="" class="write">글쓰기</a>
                            </span>
                        </div>
                    </div>
                    <div class="paging">
                        <a href=""><img src="/static/images/btn_page_prev.gif" alt="이전 페이지"></a>
                        <ol>
                            <li class="xans-record"><a href="" class="this">1</a></li>
                            <li class="xans-record"><a href="" class="other">2</a></li>
                            <li class="xans-record"><a href="" class="other">3</a></li>
                            <li class="xans-record"><a href="" class="other">4</a></li>
                            <li class="xans-record"><a href="" class="other">5</a></li>
                            <li class="xans-record"><a href="" class="other">6</a></li>
                            <li class="xans-record"><a href="" class="other">7</a></li>
                            <li class="xans-record"><a href="" class="other">8</a></li>
                            <li class="xans-record"><a href="" class="other">9</a></li>
                            <li class="xans-record"><a href="" class="other">10</a></li>
                        </ol>
                        <a href=""><img src="/static/images/btn_page_next.gif" alt="다음 페이지"></a>
                    </div>
                    <div class="board-search">
                        <p>
                            <select name="search-date" id="search-date">
                                <option value="week">일주일</option>
                                <option value="month">한달</option>
                                <option value="3-month">세달</option>
                                <option value="all">전체</option>
                            </select>
                            <select name="search-key" id="search-key">
                                <option value="subject">제목</option>
                                <option value="content">내용</option>
                                <option value="writer_name">글쓴이</option>
                                <option value="member-id">아이디</option>
                                <option value="nickname">별명</option>
                            </select>
                            <input type="search" name="search">
                            <span class="bt_button">
                                <a href="#none" class="gray">찾기</a>
                            </span>
                        </p>
                        <div class="img">
                            <img src="/static/images/talk.png" alt="카카오톡 상담하기">
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>