<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/leftbar.css">
    <title>Main</title>
</head>
<body>
    <div id ="container">
        
        <div id="leftbar">
          <h1>LOGO</h1>
          
        <div class="menu_top">
            <a href="#MYPAGE">MYPAGE</a>
            <a href="#CART">CART</a>
            <a href="#LOGIN">LOGIN</a>
            <a href="#JOIN US">JOIN US </a>
        </div>
        
        <div class="menu_bottom">
            <a href="#ORDER">ORDER </a>
            <a href="#WISH">WISH </a>
            <a href="#NOTICE">NOTICE </a>
            <a href="#Q&A">Q&A</a>
        </div>
        <div class="search"><!-- 검색창  -->
            <input type="text" placeholder=" 검색어 입력">
            <img class="imagesearch"src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
        </div>
        <div class="leftbar-center">  <!-- 옷 메뉴  -->
            <div><!-- NEW -->
                <a href="#NEW">NEW</a>
            </div>
            <div><!-- OUTER -->
                <a href="#OUTER">OUTER</a>  
            </div>
            <div><!-- TOP -->
                <a href="#TOP#">TOP</a>
            </div>
            <div><!-- PANTS -->
                <a href="#PANTS">PANTS</a>
            </div>
            <div><!-- SHIRTS -->
                <a href="#SHIRTS">SHIRTS</a>
            </div>
            <div><!-- BAG & SHOES -->
                <a href="#BAG & SHOES">BAG & SHOES</a>
            </div>
            <div><!-- ACC -->
                <a href="#ACC">ACC</a>
            </div>
            </div>
            <div class="bottom"><!-- 하단 번호 등 -->
                <a class="a-1">T.051-0000-0000</a>
                <a class="a-2">MONDAY TO FRIDAY AM. 11:00 - PM 05:00 </a>
                <a class="a-2">SAT.SUN.HOLIDAY OFF</a>
                <a class="a-1">BANK INFO</a>
                <a class="a-2">은행 123456-12-12345</a>
                <a class="a-2">주식회사 LOGO </a>
            </div>
        </div>
        
        <div class="main_page">
            <div class="header">NEW ARRIVALS</div>

            <div class="main">    
                <div class="goods_box">
                    
                    <img src="images/image3.jpg" class="goods_img">
                    
                    <div class="goods_nm">릴스 숏야상(4color)</div>
                    <div class="goods_price">79,000원</div>
                    <div class="content">스냅버튼으로 제작된 미니멀한 나일론 숏야상입니다:)</div>
                </div>

                 <div class="goods_box">
                    
                    <img src="images/image4.jpg" class="goods_img">
                    
                    <div class="goods_nm">모먼트 페이퍼 오버핏 셔츠(6color)</div>
                    <div class="goods_price">42,000원</div>
                    <div class="content">오버핏중에서도 핏이 좋고 기본컬러들로 나왔습니다,^^</div>
                </div>

                 <div class="goods_box">
                    
                    <img src="images/image5.jpg" class="goods_img">
                    
                    <div class="goods_nm">심플 해비 하찌 버튼가디건(6color)</div>
                    <div class="goods_price">54,000원</div>
                    <div class="content">어느정도 두께감이 있는 요즘핫한 카라가디건입니다:)</div>
                </div>

                 <div class="goods_box">
                    
                    <img src="images/image6.jpg" class="goods_img">
                    
                    <div class="goods_nm">피그먼트 워싱 오버셔츠(4color)
                    </div>
                    <div class="goods_price">34,000원</div>
                    <div class="content">흔치않은 피그먼트 워싱의 오버핏셔츠로 유니크한 제품입니다,!</div>
                </div>

                 <div class="goods_box">
                    
                    <img src="images/image7.jpg" class="goods_img">
                    
                    <div class="goods_nm">USA 코튼 이중지 와이드팬츠(4color)</div>
                    <div class="goods_price">43,000원</div>
                    <div class="content">탄탄한 USA 코튼 이중지원단입니다 , 강추!!</div>
                </div>
                <div class="goods_box">
                    
                    <img src="images/image8.jpg" class="goods_img">
                    
                    <div class="goods_nm">리치 수피마코튼 후드티(6color)</div>
                    <div class="goods_price">47,000원</div>
                    <div class="content">수피마코튼으로 부드럽고 깨끗한 안감입니다:)</div>
            </div>

        </div>
        
       
    </div>

    
</body>
</html>