<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Info</title>
    <link rel="stylesheet" href="css/productinfo.css">
    <link rel="stylesheet" href="css/leftbar.css">
</head>
<body>
    <div id ="container">
        
        <div id="leftbar">
          <h1>LOGO</h1>
          
        <div class="menu_top">
            <a href="#MYPAGE">MYPAGE</a>
            <a href="#CART">CART</a>
            <a href="#LOGIN">LOGIN</a>
            <a href="#JOIN US">JOIN US </a>
        </div>
        
        <div class="menu_bottom">
            <a href="#ORDER">ORDER </a>
            <a href="#WISH">WISH </a>
            <a href="#NOTICE">NOTICE </a>
            <a href="#Q&A">Q&A</a>
        </div>
        <div class="search"><!-- 검색창  -->
            <input type="text" placeholder=" 검색어 입력">
            <img class="imagesearch"src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
        </div>
        <div class="leftbar-center">  <!-- 옷 메뉴  -->
            <div><!-- NEW -->
                <a href="#NEW">NEW</a>
            </div>
            <div><!-- OUTER -->
                <a href="#OUTER">OUTER</a>  
            </div>
            <div><!-- TOP -->
                <a href="#TOP#">TOP</a>
            </div>
            <div><!-- PANTS -->
                <a href="#PANTS">PANTS</a>
            </div>
            <div><!-- SHIRTS -->
                <a href="#SHIRTS">SHIRTS</a>
            </div>
            <div><!-- BAG & SHOES -->
                <a href="#BAG & SHOES">BAG & SHOES</a>
            </div>
            <div><!-- ACC -->
                <a href="#ACC">ACC</a>
            </div>
            </div>
            <div class="bottom"><!-- 하단 번호 등 -->
                <a class="a-1">T.051-0000-0000</a>
                <a class="a-2">MONDAY TO FRIDAY AM. 11:00 - PM 05:00 </a>
                <a class="a-2">SAT.SUN.HOLIDAY OFF</a>
                <a class="a-1">BANK INFO</a>
                <a class="a-2">은행 123456-12-12345</a>
                <a class="a-2">주식회사 LOGO </a>
            </div>
        </div>


    <div class="view">
        <div class="product_view">
            <a class="name">피그먼트 워싱 오버셔츠 (4color)</a>
            <a class="sub">P0000HZL</a>
            <table class="tableview">
                <tbody>
                    <tr>
                        <th>판매가</th>
                        <td>34,000원</td>
                    </tr>
                    <tr>
                        <th>포인트</th>
                        <td>340원(1%)</td>
                    </tr>
                    <tr>
                        <th>컬러</th>
                        <td>
                            <select name="color" class="product-inputs">
                                <option value="none">옵션 선택</option>
                                <option value="네이비">네이비</option>
                                <option value="차콜">차콜</option>
                                <option value="베이지">베이지</option>
                                <option value="그레이">그레이</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>사이즈</th>
                        <td>
                            <select name="size" class="product-inputs">
                                <option value="none">옵션 선택</option>
                                <option value="FREE">FREE</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="img">
                <img src="images/img1.png" alt="" class="big_img">
            </div>
            
            <table class="tablechoice">
                <tbody>
                    <tr>
                    <th>피그먼트 워싱 오버 셔츠 (4color)</th>
                        <td>
                            <div class="quantity">
                                <div class="number">
                                    <span class="plus" >+</span>
                                    <input type="text" readonly value="1">
                                    <span class="minus">-</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="item">- 네이비/FREE</td>
                    </tr>
                </tbody>
            </table>
        
            <table class="tableprice">
                <tbody>
                    <tr>
                        <th>총 합계</th>
                        <td>34,000원</td>
                    </tr>
                </tbody>
            </table>
            <div class="btns">
                <a href="#a" class="btn1">구매하기</a>
                <a href="#a" class="btn2">장바구니</a>
                <a href="#a" class="btn3">위시리스트</a>
            </div>
        </div>
    </div>
    <div class="bmenu">
        <a href="#a" class="bmenu1">DETAIL</a>
        <a href="#a" class="bmenu2">REVIEW</a>
        <a href="#a" class="bmenu3">Q&A</a>
        <a href="#a" class="bmenu4">배송/교환/반품</a>
    </div>
    <script src="/js/infopage.js"></script>
</body>
</html>